/* General settings */

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-align: left;
}

/* Navigation bar.  */

nav {
	text-align: right;
	text-decoration: none;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.3em;
	font-weight: 400;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
	display: inline;
}

/* Different elements */

footer {
	margin: 2em;
}

address {
	margin-left: 1em;
	font-style: normal;
}

li {
	margin-left: 1em;
}

/* Make image and text container */

img {
	float: right;
	max-width: 100%;
	padding: 25px;
}

.two {
	float: left;
	min-width: 200px;
        max-width: 100%;
        padding: 25px;

}

hr {
	border: none;
	border-top: 3px double #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

hr:after {
	background: #ffffff;
	content: 'ยง';
	padding: 0 4px;
	position: relative;
	top: -13px;
}

/* Define fonts */

h1 {
	font-size: 2.5em;
	font-weight: 400;
	margin-top: 1.33em;
	margin-bottom: 1em;
	text-align: right;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 1.33em;
	margin-bottom: .33em;
	line-height: 1.3em;
}

h3 {
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 1.33em;
	margin-bottom: .33em;
}

/* Set colors */

html, body {
	background-color: #ffffff;
	color: #000000;
}

h1, h2, h3, em, dt {
	color: #282828;
}

a:link, a:visited {
	text-decoration: none;
	color: #0645AD;
}

a:hover {
	color: red;
}

/* Make site responsive for mobile screens */

@media(max-width: 690px) {
	body {
		font-size: 18px;
	}
	nav li {
		font-size: 0.9em;
		margin: 0;
	}
	h1, h2, h3 {
		font-size: 1.3em;
	}
}
